SUPABASE_URL=https://abcd123example.supabase.co

SUPABASE_PUBLISHABLE_KEY=sb_publishable_abcd123examplesdontaddquotations

PORT=3000

#MAPS_API for Frontend Embedding Maps on Webpage
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

#PLACES_API for Backend API Calls to Google Places API
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here